.navbar {
  font-weight: 300;
}

/* .navbar-brand { */
/*   font-size: 10px; */
/* } */

/* @media(min-width: 360px) { */
/*   .navbar-brand { */
/*     font-size: 12px; */
/*   } */
/* } */

/* @media(min-width: 768px) { */
/*   .navbar-brand { */
/*     font-size: 14px; */
/*   } */
/* } */

h2 {
  font-size: 3em;
  line-height: 3em;
  text-align: center;
}

h3 > small {
  display: block;
  padding-top: 10px;
  font-style: small-caps;
  font-weight: 100;
}

h3 > small > strong {
  font-weight: 500;
  font-style: none;
}

.brand-heading {
  font-weight: 800;
  font-size: 30px !important;
}

@media(min-width:767px) {
  .brand-heading {
    font-size: 30px;
  }
}

.intro {
  /* background: url(../img/capa.png) no-repeat top center scroll; */
  background-position: 64% 30%;
}

.intro {
  padding-top: 110px;
}

@media(min-width:767px) {
  .intro {
    padding-top: 150px;
  }
}

#venue {
  display: none;
}

@media(min-width:767px) {
  #venue {
    display: inline;
  }
}

.date {
  font-family: "Oswald","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}

#sobre {
  min-height: 100vh;
  background-color: #222;
  color: #fff;
}

#conferencias {
  min-height: 100vh;
}

dl.conferencias {
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
}

#minicurso {
  width: 100%;
  padding: 50px 0;
  color: #222;
  background: url(../img/minicurso.png) no-repeat center center scroll;
  background-color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  min-height: 100vh;
}

#gts {
  min-height: 100vh;
}

#programacao {
  width: 100%;
  padding: 50px 0;
  color: #222;
  background: url(../img/programacao.png) no-repeat center center scroll;
  background-color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  min-height: 100vh;
}

dt {
  font-family: "Oswald","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 22px;
}

dd > p {
  font-size: 16px;
}

dt > small,
dd > strong {
  font-family: "Oswald","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 100;
  font-size: 20px;
  display: block;
}

dd > p.lead {
  font-style: italic;
  font-size: 180%;
  padding-bottom: 2em;
}

.table {
  font-family: "Oswald","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 20px;
}

.footer {
  font-size: .95em;
  line-height: 1em;
  padding: 10px;
  font-family: "Oswald","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  background-color: #fff;
  color: #222;
}

#map {
  padding: 0;
  margin: 0;
}

a.lattes:after,
a.externa:after {
  content: "\f08e";
  font-family: FontAwesome;
  font-weight: lighter;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  padding-left: .2rem; 
  font-size: 70%;
  vertical-align: super;
}

a.email:before {
  content: "\f0e0";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: none;
  padding-right: .3rem; 
  vertical-align: top;
}
